html {
	position: relative;
	min-height: 100%;	
}

body {
	padding-bottom: 70px;
	font-family: "Final Fantasy Tactics";
}

.navbar-fixed-bottom {
	position: absolute;
}

.btn {
	border: 0;
}


#footer {
	float: none;
	text-align: center;
}

@font-face {
	font-family: "Final Fantasy Tactics";
	src: url(Final Fantasy Tactics.ttf);
}