html {
	position: relative;
	min-height: 100%;
	font-size: 100%; /*16px*/
}

body {
	padding-bottom: 90px;
	font-family: "Final Fantasy Tactics";
	background: url(../images/bg2.png) center;
}

.jumbotron {
	background: url(../images/bg.png) center;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	text-shadow: -3px 0 #fff, 0 3px #fff, 3px 0 #fff, 0 -3px #fff;
}

.jumbotron h1 {
	font-size: 10rem;
}

.jumbotron p {
	font-size: 3.5em;
}

.navbar-fixed-bottom {
	position: absolute;
}

.btn {
	border: 0;
	background: transparent;
}

#info {
	font-size: 4em;
}

#footer {
	float: none;
	text-align: center;
	font-size: 2rem;
}

@font-face {
	font-family: "Final Fantasy Tactics";
	src: url("Final Fantasy Tactics.ttf");
}